// COLOR VARIABLES   //

$color-secondary-dark-1: #6d46db;
$color-primary-light-1: #868692;
$color-primary-dark-1: #7f7bf7;

$color-purple-1: #bb7efe;
$color-purple-2: #d9dbe1;


$color-light-yellow: #ffe587;
$color-dark-yellow: #ffad11;

$color-light-orange: #ffa57e;

$color-grey-light-1: #f7f7fb;
$color-grey-dark-1: #f1f1f3;

// UTILITY CLASSES VARIABLES

$mb-small: .5rem;

$mb-little: 2rem;

$mb-md: 3rem;

$mb-large: 6rem;

// MEDIA QUERIES!
// WE WRITE MEDIA QURIES 100PX BEFORE

$bp-largest: 82.15em;    //1314px
$bp-large: 67em;         //1072px
$bp-medium: 62.5em;      // 1000px
$bp-little: 43.75em;     //700px
$bp-small: 31.25em;        //500px
$bp-minute: 18.75em;        //300px

